@import '../../variables';

.brand-container {
    .brand-link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.875em;
        display: flex;
        gap: 0.1875em;
        cursor: pointer;

        .brand-name {
            color: #fff;
            font-family: mark-pro-black;
        }

        .brand-lastname {
            --tw-text-opacity: 1;
            color: $my-blue;
            @extend .brand-name;
        }

        .portafolio-icon {
            width: 2.1875em;
            width: 3em;
            margin-right: 0.3125em;
        }
    }
}

.brand-container-light {
    @extend .brand-container;

    .brand-link {
        .brand-name {
            color: #000;
        }

        .brand-lastname {
            color: #4998ff;
        }
    }
}