@import '../../variables';

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
    gap: 3px;
}

.brand-name {
    // --tw-text-opacity: 1;
    // color: $my-blue;
    color: #fff;
    // font-family: mark;
}

.brand-lastname {
    --tw-text-opacity: 1;
    color: $my-blue;
}

.portafolio-icon {
    width: 35px;
    margin-right: 5px;
}