.projects-container {
    margin: 0 auto;
    width: 80%;
    // height: 400px;
    display: flex;
    justify-content: center;
    gap: 2.5em;
    // justify-content: ;
    align-items: center;
    flex-wrap: wrap;
}