.contact-form {
    label {
        color: #fff;
    }

    .form-name,
    .form-email {
        position: relative;
        margin-bottom: 1.25em;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 1rem;
        font-family: mark-pro-heavy;

        input {
            font-family: mark-pro-medium;
            margin-top: 0.625em;
            background-color: transparent !important;
            box-shadow: none;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.493);
            padding: 0.625rem 0.9375rem;
            outline: none;
            font-size: 0.875em;
            color: rgb(204, 204, 204);

            &::placeholder {
                font-family: mark-pro-heavy;
                color: rgba(255, 255, 255, 0.493);
            }

            &:focus {
                border: 1px solid #83AEFB;
                transition: 0.3s all;
                box-shadow: #83AEFB 0px 0px 3px 0px;
            }
        }
    }

    .form-message {
        position: relative;

        label {
            @extend .form-name;
        }

        textarea {
            padding: 0.625em 0.9375em;
            color: rgb(204, 204, 204);
            font-size: 0.875rem;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            border-radius: 5px;
            min-height: 6.25em;
            outline: none;
            font-family: mark-pro-medium;
            height: 6.25em;
            max-height: 9.375em;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.493);

            &::placeholder {
                font-family: mark-pro-heavy;
                color: rgba(255, 255, 255, 0.493);
            }

            &:focus {
                border: 1px solid #83AEFB;
                transition: 0.3s all;
                box-shadow: #83AEFB 0px 0px 3px 0px;
            }
        }
    }

    .btn-submit {
        position: relative;
        cursor: pointer;
        gap: 0.3125em;
        margin-top: 1.25em;
        display: flex;
        color: #fff;
        background-color: #4f8cff;
        font-size: 1rem;
        border: none;
        padding: 0.75rem 1.875rem;
        border-radius: 5px;
        font-family: mark-pro-heavy;

        &:hover {
            background-color: #83AEFB;
        }
    }
}

.form-warning {
    color: #fff;
    background-color: #83AEFB;
    border-radius: 0.3125em;
    position: absolute;
    font-size: 0.875em;
    padding: 0 0.3125em;
    bottom: -1.5625em;
    right: 0px;
}

.form-warning2 {
    font-family: mark-pro-heavy;
    color: #fff;
    background-color: #83AEFB;
    border-radius: 0.3125em;
    position: absolute;
    font-size: 0.875rem;
    padding: 0 0.3125em;
    bottom: -1.25em;
    right: 0px;
}

.d-none {
    display: none;
}

.loader {
    margin-right: 1.875rem;
    color: #FFF;
    display: inline-block;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.loader::after {
    content: '';
    width: 4px;
    height: 4px;
    background: currentColor;
    position: absolute;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 10px 0 white, 20px 0 white;
    }
}

.dots-aling {
    display: flex;
    align-items: center;
}