.skills-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 6.25em;

    .areas {
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-family: mark-pro-heavy;
        }

        .front-end {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 1.25em;
            font-weight: bold;
            color: #c2c2c2;

            .area-span {
                margin-bottom: 1.25em;
            }
        }

        .back-end {
            @extend .front-end;
        }
    }
}

.section-title {
    margin-top: 2.5rem;
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 3.125rem;
    text-align: center;
    font-family: mark-pro-heavy;
}

.tecnologies-carousel {
    color: #fff;
    max-width: 50%;
}