.certificate {
    margin: 0 1.875em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 19.375em;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.144);
    border-radius: 0.625em;
    padding: 1.25em;
    gap: 1.25em;

    .certificate-academy-icon {
        width: 3.125em;
        border-radius: 50%;
        outline: 1px solid rgba(255, 255, 255, 0.144);
    }

    .certificate-course {
        font-size: 1.125em;
        font-family: mark-pro-heavy;
        // font-weight: bold;
    }

    .certificate-info {
        display: flex;
        justify-content: center;
        gap: 1.25em;

        .certificate-info-academy-btn {
            @extend .certificate-info-date-btn;
            font-size: 0.875em !important;
            // background-color: #3c76e0;
            background-color: #679cff;
            border: 0 !important;
            font-weight: bold;
        }

        .certificate-info-date-btn {
            font-size: 0.75rem;
            width: 6.875rem;
            padding: 0.1875rem 0;
            // height: 30px;
            border-radius: 5px;
            // padding: 5px 10px;
            border: 1px solid #fff;
        }
    }

    .cerficate-description {
        font-size: 0.875em;
        // font-weight: normal;
    }

    .certificate-link {
        display: flex;
        align-items: center;
        font-size: 1.0625em;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        border-radius: 0.3125em;
        padding: 0.3125em 0.625em;
        background-color: #679cff;

        span {
            display: flex;
            align-items: center;

            .certificate-icon {
                color: "#fff";
                margin-right: 2px;
            }
        }

        &:hover {
            background-color: #83AEFB;
        }
    }
}