.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    background-color: #21232E;
    position: fixed;
    margin-top: 20px;
}

.icons-container {
    display: flex;
    gap: 10px;
}

.icon-container {
    cursor: pointer;
    color: #fff;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    background-color: #303341;
    &:hover {
        background-color: #343744;
    }
}