.technology {
    background-color: #21232E;
    width: 115px;
    height: 124px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    span {
        font-size: 16px;
    }
    // margin-right: 20px !important;
    // margin-left: 20px;
    .technology-icon {
        width: 60px;
    }
}

// .hola {
//     display: flex;
//     width: 100%;
//     // justify-content: space-between;
// }