.technology {
    background-color: #21232E;
    // width: 115px;
    height: 124px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    span {
        font-size: 16px;
    }
    .technology-icon {
        width: 60px;
    }
}