.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.9375em;
    width: 100%;
    height: 100px;

    hr {
        display: block;
        width: 70%;
        border-radius: 100%;
    }

    span {
        color: #919295;
        font-size: 0.875em;
        font-family: mark-pro-bold;
        margin-bottom: 1.25em;
    }
}

.footer-light {
    @extend .footer;

    span {
        color: #919295;
    }
}