.certificates-container {
    background-color: #21232E;
    padding: 2.5em;
    margin-bottom: 6.25em;
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.react-multiple-carousel__arrow--right {
    right: 0 !important;
}

.react-multiple-carousel__arrow--left {
    left: 0 !important;
}



.certificates-slider {
    .react-multi-carousel-track {
        background-color: #21232E;
        padding: 2.5em 0 !important;
    }
}