.cv-link {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: mark-pro-heavy;
    text-decoration: none;
    color: #83AEFB;
    border-radius: 0.3125em;
    padding: 0.9375em 1.25em;
    border: 1px solid #83AEFB;
    font-size: 18px;

    &:hover {
        background-color: #83adfb1c;
    }
}

.cv-link-light {
    @extend .cv-link;
    color: #4998ff;
    border: 1px solid #4998ff;

    &:hover {
        background-color: #0000001c;
    }
}