.cv-link {
    font-family: mark-pro-heavy;
    text-decoration: none;
    color: #83AEFB;
    border-radius: 0.3125em;
    padding: 0.9375em 1.25em;
    border: 1px solid #83AEFB;
    &:hover {
        background-color: #83adfb1c;
    }
}