.cv-link {
    font-family: mark-pro-heavy;
    text-decoration: none;
    color: #83AEFB;
    border-radius: 5px;
    padding: 15px 20px;
    border: 1px solid #83AEFB;
    &:hover {
        background-color: #83adfb1c;
    }
}