@media screen and (max-width: 450px) {}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media screen and (max-width: 576px) {
    .description-container {
        width: 100% !important;
    }

    .learning,
    .learning-light {
        .learning-left-side {
            .learning-github-btn {
                width: 100% !important;
            }
        }
    }

    //form

    .card-container,
    .card-container-light {
        .card {
            width: 90% !important;

            .contact-info {
                width: fit-content;
                height: fit-content;
            }

            .contact-form,
            .contact-form-light {
                .btn-submit {
                    margin-top: 35px !important;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

}

// `md` applies to small devices (landscape phones, less than 788px)
@media screen and (max-width: 788px) {
    .projects-container {
        .project {
            width: 100%;
            height: fit-content;

            .project-img-container {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    //form
    .card-container,
    .card-container-light {
        .card {
            margin-bottom: 100px;
        }
    }

}

// `lg` applies to medium devices (tablets, less than 992px)

@media screen and (max-width: 992px) {

    //banner
    .banner-container,
    .banner-container-light {
        margin-top: 6.25em !important;
    }

    //skill
    .skills-container,
    .skills-container-light {
        width: 100% !important;

        .areas {
            flex-direction: column;
            gap: 25px;

            .front-end {
                width: 80% !important;
            }

            .back-end {
                width: 80% !important;
            }
        }
    }


    .technologies-slider {
        width: 100% !important;
    }

    //nav
    .navbar-container,
    .navbar-container-light {
        top: 0 !important;
        width: 100% !important;
        position: fixed !important;

        .navbar {
            box-shadow: none;
            border-radius: 0 !important;
            width: 100% !important;
            background-color: #1A1B23 !important;
            margin: 0 !important;

            .nav-link-container {
                display: none !important;
            }
        }

        .navbar {
            .hamburguer {
                display: block !important;
            }

            .icons-container {
                .icon-container-message {
                    display: none;
                }
            }
        }
    }

    .navbar-container-light {
        .navbar {
            background-color: #fff !important;
        }
    }

    //learning 

    .learning,
    .learning-light {
        width: 80% !important;
        flex-direction: column;

        .learning-left-side {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            align-items: center;

            .learning-github-btn {
                padding: 12px 14px !important;
                font-size: 16px;
            }
        }

        .learning-right-side {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            align-items: center;

            .learning-icons-container {
                .learning-icon-container {
                    border: 0.5px solid #ffffff21;
                }
            }
        }
    }

    //form 
    .card {
        flex-direction: column;
        width: 80% !important;
        gap: 50px !important;

        .contact-info {
            width: 100%;
        }

        .contact-form,
        .contact-form-light {

            input,
            textarea {
                font-size: 16px !important;
            }
        }
    }

    .projects,
    .projects-light {
        .projects-container {
            grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)

@media screen and (max-width: 1200px) {
    body {
        font-size: 12px !important;
    }

    .banner-container {
        .description-container {
            width: 70%;
            font-size: 16px !important;

        }

        .cv-link {
            padding: 10px 15px;
        }
    }


    .projects,
    .projects-light {
        .projects-container {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

// `xxl` applies to extra large devices (large desktops)

@media screen and (max-width: 1400px) {
    body {
        font-size: 14px;
    }

    //form
    .card {

        .contact-form,
        .contact-form-light {
            width: 100%;
        }
    }
}