$my-blue: rgb(131 174 251/var(--tw-text-opacity));

.section-title {
    margin-top: 2.5rem;
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 3.125rem;
    text-align: center;
    font-family: mark-pro-heavy;
}