.learning {
    margin-top: 70px;
    background-image: url('https://res.cloudinary.com/dotaebdx8/image/upload/v1675451796/Things/wave_enjaid.svg');
    background-position: center;
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(9 17 28 / 90%);

    .learning-left-side {
        font-weight: 500;
        width: 50%;

        p {
            margin-bottom: 30px;
            font-size: 1.25em;
            color: #fff;
            font-family: mark-pro-regular;
        }

        a {
            .github-icon {
                font-size: 50px;
            }
        }

        .learning-github-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #000 !important;
            padding: 10px 10px;
            width: 40%;
            font-weight: 500;
            background-color: #fff;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            transition: all .3s;
            font-family: mark-pro-medium;

            &:hover {
                background-color: #21232E;
                color: #fff !important;
            }
        }
    }

    .learning-right-side {
        font-weight: bold;
        color: #a5a5a5;
        font-size: 20px;
        width: 30%;

        p {
            font-family: mark-pro-heavy;
        }

        .learning-icons-container {
            display: flex;
            gap: 20px;

            .learning-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100px;
                height: 110px;
                background-color: #1A1B23;
                border-radius: 10px;
                margin-top: 20px;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

                .learning-icon {
                    width: 50px;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }
}

.learning-light {
    @extend .learning;

    background-image: url('https://res.cloudinary.com/dotaebdx8/image/upload/v1685372746/Things/wave_light_dyotrn.svg');
    box-shadow: 0 4px 6px rgb(9 17 28 / 30%);

    .learning-left-side {

        p {
            color: #000;
        }

        .learning-github-btn {
            background-color: #fff;
            color: #fff;

            &:hover {
                background-color: #EEEEFC;
                color: #000 !important;
            }
        }
    }

    .learning-right-side {
        color: #93959E;

        .learning-icons-container {
            .learning-icon-container {
                background-color: #F8F8FF;
            }
        }
    }
}