.nav-link-container {
    display: flex;
    gap: 5px
}

.nav-link {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-family: mark-pro-heavy;
    padding: 10px 20px;

    &:hover {
        background-color: #ffffff0e;
        border-radius: 5px;
    }
}

.nav-link-active {
    @extend .nav-link;
    background-color: #ffffff0e;
    border-radius: 5px;
}

.nav-link-container-off {
    gap: 15px;
    width: 100%;
    text-align: center;

    a {
        width: 100%;
    }
}

.nav-link-light {
    @extend .nav-link;
    color: #303341;

    &:hover {
        background-color: #3033410e;
        border-radius: 5px;
    }
}

.nav-link-active-light {
    @extend .nav-link-active;
    background-color: #3033410e;
    color: #303341;
}